/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

h1 {
  position: absolute;
  top: 50px;
  right: 41%;
  text-align: center;
  margin-top: 70px;
  margin-left: 100px;
  z-index: 2;
}

.dropdown_calendar {
  position: relative;
  font-size: 30px;
  font-weight: bolder;
  margin: auto;
  margin-top: 135px;
  margin-left: 340px;
  background-color: #e3e4e9;
  text-overflow: ellipsis;
  z-index: 1;
}

.table_taskview {
  margin: auto;
  margin-top: 200px;
  margin-left: -195px;
  text-align: center;
  border: 1px;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: whitesmoke;
  transform: scale(1.05);
  z-index: 0;
}
#detail-icon {
  color: black;
  transition: all 0.4s;
  transform: scale3d(1, 1, 1);
}

#detail-icon:hover {
  color: #00b074;
}

.table_taskview th,
tr {
  padding: 10px 50px;
}

thead th {
  background-color: whitesmoke;
  border-radius: 5px 5px 0 0;
}

tbody tr td {
  padding: 10px 50px;
}

tr:nth-child(odd) {
  background-color: #e0e1e2;
}

.high {
  color: #f44336; /* Merah */
  background-color: #f44336; /* Merah */
  border-radius: 50%;
}

.medium {
  color: #ff9800; /* Oranye */
  background-color: #ff9800; /* Merah */
  border-radius: 50%;
}

.low {
  color: #00b074; /* Hijau */
  background-color: #00b074; /* Merah */
  border-radius: 50%;
}
